@import '../../../lib/styles/variables.scss';

.header {
  background: $color-primary;
}

.container {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
